#ocean {
    background-image: url("../images/ocean.jpg");
    width: 900px;
    height: 700px;

}
.player {
    position: absolute;
    background-image: url("../images/player.png");
    width: 70px;
    height: 75px;
    
}
.enemy {
    position: absolute;
    background-image: url("../images/enemy.png");
    width: 70px;
    height: 75px;
    
}
.missile {
    position: absolute;
    background-color: green;
    width: 2px;
    height: 10px;
    
}